$width: 378px;
$height: 49px;

.Input {
    margin-bottom: 10px;
    &__text {
        width: $width;
        height: $height;
        border-radius: 8px;
        border: 1px solid #dddfe2;
        padding: 10px;
        font-size: 17px;
        font-weight: 400;
        word-spacing: 0px;
        color: #1d2129;
    }

    &__text:focus {
        outline: 0;
        caret-color: #1877f2;
        border-color: #1877f2;
        box-shadow: 0 0 0 2px #e7f3ff;
    }
}
