.grid {
  width: 1200px;
  height: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 48.125em) {
  .grid {
    max-width: 730px;
    height: 100%;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 25.875em) {
  .grid {
    width: 370px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
  }
}
